.recommended-flex {
    display: flex;
    margin-left: 20rem;
    justify-content: center;
    align-items: center;
    margin-right: 20rem;
}

.recommended-title {
    display: flex;
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 20rem;
}